*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 0;
}
/*para todo el fondo*/
body{
    background-image: url(../assets/img/loginwallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 120px;
}
/*contenedor de las cajas de login-registro*/
.contenedor-todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja-atras{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(209, 62, 62, 0.685);
}/*div de las de login-registro*/
.caja-atras div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja-atras div p,
.caja-atras div button{
    margin-top: 30px;
}
.caja-atras div h3{
    font-weight: 400;
    font-size: 25px;
}
.caja-atras button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}
.caja-atras button:hover{
    background: #fff;
    color:rgba(209, 62, 62, 0.5);
}
/*formularios de login-registro*/
.contenedor-login-registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.275, 0.985, 0.550, 1.470);
}
.contenedor-login-registro form{
    width: 100%;
    padding: 80px 20px;
    background:  rgb(124, 121, 121);
    position: absolute;
    border-radius: 20px;
}
.contenedor-login-registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:white;
}
.contenedor-login-registro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: rgba(199, 196, 196, 0.959);
    font-size: 14px;
    outline: none;
    color: black;
}
.contenedor-login-registro form select{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: rgba(199, 196, 196, 0.959);
    font-size: 14px;
    outline: none;
    color:  rgb(124, 121, 121);
}
.contenedor-login-registro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 12px;
    background: rgba(199, 196, 196, 0.959);
    color:  rgb(124, 121, 121);
    cursor: pointer;
    outline: none;
}
.formulario-login{
    opacity: 1;
    display: block;
}
.formulario-registro{
    display: none;
}

/*responsive design*/
@media screen and (max-width: 850px){
    body{
        margin-top: 50px;
    }
    .caja-atras{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja-atras div{
        margin: 0;
        position: absolute;

    }
    /*formulario*/
    .contenedor-login-registro{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor-login-registro form{
        position: relative;
    }
}